.profile {
    display: flex;
    min-height: 50rem;
    height: 100vh;
    // position: relative;
    &__nft-preview {
        background-color: rgb(30, 28, 46);
        padding: 0 1rem 6rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &--image {
            width: 100%;
        }
    }

    &__user {
        background-color: rgb(22 21 34);
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        &--header {
            display: flex;
            align-items: center;
            padding: 2rem;
            border-bottom: 1px solid rgb(126, 121, 121);
            img {
                height: 10rem;
                width: 10rem;
                border-radius: 50%;
                margin-right: 2rem;
            }
            p {
                font-size: 3rem;
                margin: 0;
            }
            span {
                margin-left: 2rem;
                font-size: 1.5rem;
                color: rgb(126, 121, 121);
            }
        }

        &--body {
            flex-grow: 1;
            padding: 3rem 3rem;
            height: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
        }
    }

    &-content {
        border: 1px dashed rgb(187, 174, 174);
        border-radius: 1rem;
        height: 10rem;
        width: 100%;
        padding: 2rem;
        text-align: center;
        vertical-align: middle;
        display: flex;
        align-items: center;

        span {
            font-size: 3rem;
            text-align: center;
            width: 100%;
        }
    }

    &__nft {
        &-container {
            height: 30rem;
            width: 22rem;
            display: flex;
            flex-direction: column;
            transition: transform 1s;
            position: relative;

            cursor: pointer;

            &:hover {
                transform: translateY(-0.7rem);
                .list-cta {
                    opacity: 0.7;
                }
            }

            // &:not(:last-child) {
            //     margin-right: 2rem;
            // }
        }

        &-image {
            height: 70%;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 10px 10px 0 0;
            }
        }

        &-details {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            background-color: rgb(63, 62, 77);
            font-size: 6rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        &-description {
            display: flex;
            flex-direction: column;

            h3 {
                margin: 0;
            }

            span {
                font-size: 1.2rem;
            }
        }
    }
}
.list {

    &-box{
        position: absolute;
        transform: translateX(100vw);
        // transition: all 1s;
        opacity: 0;
        display: none;
        right: 0;
        z-index: 5;
        height: 100%;
    }

    &__container {
        height: 100%;
        width: 25rem;
        font-size: 3rem;
        display: flex;
        padding: 2rem;
        flex-direction: column;
        align-items: center;
        background-color: rgb(30, 28, 46);
    }
    &-close {
        width: 2rem;
        height: 2rem;
        background-color: rgb(18, 17, 29);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        align-self: flex-end;

        &:hover {
            opacity: 0.5;
        }
    }

    &-icon {
        position: absolute;
        right: 0;
        background-color: gray;
        // font-size: 1.3;
        // width: 3rem;
        // height: 3rem;
        // text-align: center;
        // vertical-align: middle;
        padding: 0.5rem;
        opacity: 0;
        border-radius: 50%;
        font-size: 1.4rem;
        margin: 0;
    }

    &-cta{
        border-radius: 1.2rem;
        background-color: #db469f;
        color: white;
        font-size: 2rem;
    }

    &-preview {
        display: flex;
        width: 100%;
        margin-top: 14rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid gray;
        padding: 1rem;
        align-items: center;
        
        &__image {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            margin-right: 2rem;
        }
        
        &__details {
            font-size: 2.5rem;
            font-weight: 900;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            h3 {
                margin: 0;
            }
        }
    }

    &__price {
        width: 20rem;
        margin-bottom: 2rem;

        p {
            margin: 0 0 0.8rem;
            font-size: 1.8rem;
        }

        &-container {
            display: flex;

            img {
                height: 4rem;
                background-color: white;
                border: 1px solid gray;
                border-left: none;
                border-radius: 0 1rem 1rem 0;
                padding: 0.5rem 1.5rem;
            }
        }

        &--input {
            width: 100%;
            height: 4rem;
            border: 1px solid gray;
            border-radius: 1rem 0 0 1rem;
            border-right: none;
            padding: 0.5rem 1.5rem;
            font-size: 1.4rem;
            outline: none;

            &:focus {
                border: 3px solid #7891d5;
            }
        }
    }

    &__duration {
        &--input {
            width: 50%;
            height: 4rem;
            border: 1px solid gray;
            border-radius: 1rem 0 0 1rem;
            border-right: none;
            padding: 0.5rem 1.5rem;
            font-size: 1.4rem;
            outline: none;
        }

        &--select {
            width: 50%;
            height: 4rem;
            border: 1px solid gray;
            border-left: none;
            border-radius: 0 1rem 1rem 0;
            padding: 0.5rem 1.5rem;
            font-size: 1.4rem;
            outline: none;
        }
    }

    &-btn {
        width: 5rem;
        height: 4rem;
        background-color: transparent;
        color: #db469f;
        font-size: 1.6rem;
        cursor: pointer;
        border: 1px solid #db469f;
        border-radius: 0.5rem;

        &:hover {
            background-color: #db469f;
            color: rgb(30, 28, 46);
        }
    }
}

.open-list {
    display: block;
    opacity: 1;
    animation: sidebar .8s forwards;
}


@media (max-width: 800px){
    .profile {
        &__nft-preview {
            width: 23rem;
        }

        &__user--body{
            padding: 0;
        }

    }
    .profile > .nft__details--preview{
        width: 21rem
    }
}

@media (max-width: 730px){
    .profile{
        &__nft-preview{
            display: none
        }
        &__user--body{

            padding: 2rem;
            margin-top: 6rem;
        }
        &__nft-container{
            width: 30rem;
            height: 40rem;
        }
    }
}

@media (max-width: 460px){
    .profile{
        &__nft-container{
            margin-right: 0;
        }
    }
}