.createInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;

  &:not(:last-of-type) {
    margin-bottom: 4rem;
  }

  &_label {
    font-size: 2.3rem;
    margin-bottom: 1.2rem;
    font-weight: 700;
  }

  &_field {
    border: 1px solid white;
    background-color: transparent;
    border-radius: 1rem;
    height: 6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    padding: 1rem 2rem 1rem 1rem;
    color: white;
  }

  &_textarea {
    border-radius: 1rem;
    background-color: transparent;
    height: auto;
    font-size: 2.4rem;
    padding: 1rem;
    color: white;
  }

  &_option {
    background-color: transparent;
    color: black;
    border-radius: 1rem;
    &:active {
      background-color: transparent;
    }
  }
}
