.footer {
    background-color: black;
    width: 100%;
    color: white;
    // height: rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2rem;

    &__container {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: stretch;
        padding: 1rem;
        display: grid;
        grid-auto-rows: auto;
        row-gap: 1rem;
        width: 80rem;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &-nav__link {
        font-size: 2rem;
        text-decoration: none;
        color: white;

        &:not(:last-child) {
            margin-right: 5rem;
        }

        &:hover {
            color: gray;
        }
    }

    &__soc-cop{
        display: flex;
        // flex-direction: column;
    }

    &__socials {
        // height: 3rem;
        display: flex;
    }
}


.copyright {
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    width: 100%;
}

.dev {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.social__link {
    // height: 3rem;
    width: 3rem;
    text-decoration: none;
}

.social-img {
    width: 100%;
}

@media (max-width: 900px) {
    .footer{
        &-nav__link{
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }
}

@media (max-width: 800px){
    .footer__socials{
        margin-left: 3rem;
    }
}

// @media (max-width: 705px){
//     .footer{
//         padding-left: 10rem;
//     }

// }

@media (max-width: 470px) {
    .footer{
        padding-left: 2rem;

        &__socials {
            margin-left: 1.5rem;
        }
    }

}


@media (max-width: 425px) {
    .footer{

        &__nav{
            flex-direction: column;
        }

        &-nav__link{
            font-size: 2rem;

            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }

        &__soc-cop{
            margin-top: 2rem;
            align-items: center;
            flex-direction: column;
        }

        &__socials{
            margin-left: 0;
            margin-top: 1rem;
            justify-content: center;

            a:not(:last-child) {
                margin-right: 1rem;
            }
        }

    }
}

@media (max-width: 400px) {
    .footer{
        padding-left: .7rem;

        &__container{
            padding: .5rem 0;
        }

        &-nav__link{
            &:not(:last-child) {
                margin-right: 0;
            }
        }

        &__socials{
            margin-left: .2rem;
        }
    }
}

@media (max-width: 345px){
    .footer{
        padding-left: .3rem;
        font-size: .4rem;
    }
}